@page "/api-endpoints"

<div style="flex: 1; height:calc(100vh - 150px); margin: 0; padding: 0;">
    <iframe id="reportFrame"
            width="100%"
            height="100%"
            src="https://technicalapinew.runasp.net/swagger/index.html"
            style="border: none;">
    </iframe>
</div>